.import-wizard {
    margin: 10px auto;
    background: transparent;
}

.import-wizard .nav-tabs {
    position: relative;
    margin: 10px auto;
    margin-bottom: 0;
    border-bottom-color: #091973;
}

.import-wizard > div.import-wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.import-wizard .nav-tabs > li.active > a, .import-wizard .nav-tabs > li.active > a:hover, .import-wizard .nav-tabs > li.active > a:focus {
    color: #00AEAB;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: transparent;
    border: 2px solid #00AEAB;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #00AEAB;
}

.import-wizard li.active span.round-tab {
    background: #091973;
    border: 2px solid #00AEAB;

}

.import-wizard li.active span.round-tab i {
    color: white;
}

.import-wizard li.done span.round-tab {
    background: rgb(76, 174, 76);
    border: 2px solid rgb(57, 132, 57);
}

.import-wizard li.done span.round-tab i {
    color: white;
}

.import-wizard li.error span.round-tab {
    background: rgb(201, 48, 44);
    border: 2px solid rgb(172, 41, 37);
}

.import-wizard li.error span.round-tab i {
    color: white;
}

span.round-tab:hover {
    color: #00AEAB;
    border: 2px solid #00AEAB;
}

.import-wizard .nav-tabs > li {
    width: 33%;
}

.import-wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #091973;
    transition: 0.1s ease-in-out;
}

.import-wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #091973;
}

.import-wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.import-wizard .nav-tabs > li a:hover {
    background: transparent;
}

.import-wizard .nav-tabs > li.active > a, .import-wizard .nav-tabs > li.active > a:hover, .import-wizard .nav-tabs > li.active > a:focus {
    background: transparent;
}


.import-wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.import-wizard h3 {
    margin-top: 0;
}

.import-wizard a, a:hover, a:focus, a:active {
    color: #777777;
}

@media ( max-width: 585px ) {

    .import-wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .import-wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .import-wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.adyen-checkout__input--wrapper {
    max-width: 250px;
    width: 100%;
}

.adyen-checkout__label {
    min-width: 250px;
}
